body{
    margin: 0;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #687281;
    text-align: left;
    background-color: #eff3f9;
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {box-sizing: border-box;}



/*    Top bar    */
body>nav {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}


div.abar {
    width: 100%;
    text-align: left;
}
div.abar button {
    margin-top: 0.3rem;
    margin-left: 0.6rem;
    font-size:1.5em;
    padding: 0.18rem 0.5rem;
    border-radius: 50%;
    transition: margin-left 1s ease;
}

div.bbar {
    width: 100%;
    text-align: right;
}
body>nav a{
    text-decoration: none;
}
body>nav h3{
    text-decoration: none;
    color: #687281;
    padding-right: 30px;
    text-transform: capitalize;
}




/*    Page    */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.page aside.menu {
    width: 15rem;
    height: 100vh;
    z-index: 1000;
    flex-basis: 15rem;
    flex-shrink: 0;
    padding-top: 4rem;
    background: #fff;

    position: fixed;
    top: 0;
    left: -15rem;

    box-shadow: 0.15rem 0 1.75rem 0 rgba(31, 45, 65, 0.15);

    transition: left 1s ease;
}
.page aside#mainMenu.openmenu{
    left: 0;
}

.page aside.menu ul{
    list-style: none;
}
.page aside.menu li{
}
.page aside.menu a{
    display: inline-block;
    padding: 0.5em 0em;
    width: 100%;
    font-weight: 600;
    text-decoration: none;
    color: #1f2d41;
}
.page aside.menu a:hover,
.page aside.menu a:focus,
.page aside.menu a.active{
    color: #0061f2;
}


/*    Main    */
.page main {
    padding-left: 0;
    padding-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 4rem);

    transition: padding-left 1s ease;
}
.page main#mainSection.openmenu{
    padding-left: 15rem;
}



/*    Section    */
.page main section {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.page main section{
    display: none;
}
.page main section.is-visible {
    display: flex;
}

.page main section header{
    padding: 0 14px;
    background-color: #0061f2;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
.page main section header h1{
    color: #fff;
    line-height: normal;
    font-size: 2.25rem;
    font-weight: 500;
    padding-top: 35px;
    margin-top: 0;
    margin-bottom: 5px;
}
.page main section header h3{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 35px;
    font-size: 1.15rem;

}


.page main section .content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    justify-content: center;
}




/*    welcome    */
#welcome button.begin {
    margin-top: 0.5rem;
}


/*    dashboard    */
#dashboard .content .flex-container {
    display: flex;
    flex-wrap: wrap;

}
#dashboard .content .flex-container > div {
    background-color: #fff;
    width: 200px;
    margin: 10px 16px ;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    box-shadow: 0.15rem 0 0.75rem 0 rgba(31, 45, 65, 0.15);

}

#dashboard .content .flex-container .circle {
    border: 7px solid #1cc88a;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    font-weight: 500;
    margin: 8px auto;
}
#dashboard .content .flex-container .circle.blue{
    border-color: #0061f2;
}
#dashboard .content .flex-container .circle.purple{
    border-color: #6900c7;
}
.box {
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.03,.97) translateY(0); }
    30%  { transform: scale(.97,1.03) translateY(-50px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
.delay-1 {
    animation-delay: 1s;
}
.delay-2 {
    animation-delay: 2s;
}

#dashboard .content .change{
    width: 100%;
    overflow: hidden;
    padding-left: 1.5rem;
    margin-top: 3.5rem;
}
#dashboard .content .changeButton{
    margin-top: .5rem;
}
#dashboard .content .change .form{
    width: 80%;
    max-width: 250px;
    overflow: hidden;
}








/*    courses    */
#courses .content .flex-container {
    display: flex;
    flex-wrap: wrap;

}
#courses .content .flex-container > a {
    display: block;
    text-decoration: none;
    color: #687281;
    background-color: #fff;
    width: 250px;
    margin: 10px 16px ;
    text-align: center;
    line-height: 75px;
    font-weight: 600;
    font-size: 30px;
    box-shadow: 0.15rem 0 0.75rem 0 rgba(31, 45, 65, 0.15);
}
#courses .content .flex-container > a i {
    font-size: 2.5em;
    margin-top: 0.5em;
}



/*    course detail    */
#detail #detailContainer {
    align-items: start;
    align-content: start;
    position: relative;
    margin: auto;
    width: 100%;
}
#detail .prev,
#detail .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #0061f2;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-size:2em;
    z-index: 100;
}
#detail .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#detail .prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
#detail .prev:hover,
#detail .next:hover {
    background-color: rgba(0,0,0,0.2);
}

#detail #detailContainer .slide{
    height: 100%;
    width: 100%;
    padding: 30px 80px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#detail #detailContainer .slide.visible {
    display: block;
}


.progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    height: 4px;
    background: #eff1f2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    position: relative;
    z-index: 8;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
    height: 4px;
}



    /*    course upload    */
#upload .download{
    padding: 7px 15px;
    display: block;
    width: 100%;
}

#dnd {
    height:70px;
    border-radius: 50px;
    border: 2px dotted #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dnd::before {
    content: "D'n'D here!";
    color: #2e2e2e;
}


/*    info    */
#info .content {
    padding: 20px;
    justify-content: flex-start;
}




/*   footer   */
.page footer {
    height: 60px;
    width: 100%;
}

footer .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .copy,
footer .name{
    padding: 15px 20px;

}



/*    queries    */
@media (max-width: 650px) {
    main {
        flex-direction: column;
    }
    section {
        order: 1;
    }
    nav{
        order: 2;
    }
    aside {
        display: none;
    }
}







/*    others    */
.danger {
    color: #e81500 !important;
}
.success {
    color: #1cc88a !important;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
/* Modal */

body.modal-visible .page {
    filter: blur(3px) hue-rotate(90deg);
    transition: filter .5s ease
}
body.modal-visible {
    overflow: hidden;
}
.modal {
    /*display: none;*/
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}
body.modal-visible .modal {
    /*display: flex;*/
    visibility: visible;
}

.modal-content {
    box-shadow: 0 0 0.9px black;

    background: #fff;
    width: 60%;
    height: 50%;
    padding: 25px;
    border-radius: 5px;
    transform: scale(0);
    transition: transform 1s ease-out;
}
body.modal-visible .modal-content {
    transform: scale(1);
}

/*  canva  */
canvas {
    background: #efefef;
    border: 3px groove black;
    box-shadow: 2px 2px 3px #a0a0a0;
    cursor: crosshair;
}

/* Button */
button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
}
button:hover {
    color: #fff;
    background-color: #0052cc;
    border-color: #004dbf;
}

input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #687281;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    border-radius: 0.35rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
